.mm-nsi-category-subscription-selector-row {
    height: 27px;
    padding-top: 3px;
}

.mm-template-subscriptions-grid .x-grid3-row td {
    vertical-align: middle;
}

.mm-template-subscriptions-grid .x-grid3-row td .x-grid3-cell-inner {
    min-height: 20px;
}